{% extends 'priceweb/loadingscreens.html' %}

{% block loader %}

 <div class="loader-example example-4">
        <div class="animation-div">

            <div id="example_4_block_1" class="mini-square"></div>
            <div id="example_4_block_2" class="mini-square"></div>
            <div id="example_4_block_3" class="mini-square"></div>
            <div id="example_4_block_4" class="mini-square"></div>
            <div id="example_4_block_5" class="mini-square"></div>
            <div id="example_4_block_6" class="mini-square"></div>
            <div id="example_4_block_7" class="mini-square"></div>
            <div id="example_4_block_8" class="mini-square"></div>
            <div id="example_4_block_9" class="mini-square"></div>
            <div id="example_4_block_10" class="mini-square"></div>
            <div id="example_4_block_11" class="mini-square"></div>
            <div id="example_4_block_12" class="mini-square"></div>
            <div id="example_4_block_13" class="mini-square"></div>
            <div id="example_4_block_14" class="mini-square"></div>
            <div id="example_4_block_15" class="mini-square"></div>
            <div id="example_4_block_16" class="mini-square"></div>
            <div id="example_4_block_17" class="mini-square"></div>
            <div id="example_4_block_18" class="mini-square"></div>
            <div id="example_4_block_19" class="mini-square"></div>
            <div id="example_4_block_20" class="mini-square"></div>
            <div id="example_4_block_21" class="mini-square"></div>
            <div id="example_4_block_22" class="mini-square"></div>
            <div id="example_4_block_23" class="mini-square"></div>
            <div id="example_4_block_24" class="mini-square"></div>
            <div id="example_4_block_25" class="mini-square"></div>

        </div>
 </div>

{% endblock %}