{% extends 'priceweb/loadingscreens.html' %}

{% block loader %}

    <div id="example_loader" class="loader-example example-7">
        <div class="animation-div">

            <div id="example_6_circle_1" class="loading-circle-2"></div>
            <div id="example_6_circle_2" class="loading-circle-2"></div>
            <div id="example_6_circle_3" class="loading-circle-2"></div>
            <div id="example_6_circle_4" class="loading-circle-2"></div>

        </div>
    </div>

{% endblock %}