{% extends 'priceweb/loadingscreens.html' %}

{% block loader %}

 <div class="loader-example example-3">

    <div class="animation-div">

            <div id="example_3_block_1" style="left:0;background: #f44242" class="tall-rect"></div>
            <div id="example_3_block_2" style="right:0" class="tall-rect"></div>
            <div id="example_3_block_3" style="top:0; background: #f44242" class="long-rect"></div>
            <div id="example_3_block_4" style="bottom:0" class="long-rect"></div>

        </div>

 </div>


{% endblock %}