{% extends 'priceweb/loadingscreens.html' %}

{% block loader %}

    <div id="example_loader" class="loader-example example-1">
        <div class="animation-div">

            <div id="example_1_block_1" class="loading-block"></div>
            <div id="example_1_block_2" class="loading-block"></div>
            <div id="example_1_block_3" class="loading-block"></div>
            <div id="example_1_block_4" class="loading-block"></div>
            <div id="example_1_block_5" class="loading-block"></div>

        </div>
    </div>

{% endblock %}