{% extends 'priceweb/loadingscreens.html' %}

{% block loader %}

    <div id="example_loader" class="loader-example example-6">
        <div class="animation-div">

            <div id="example_7_circle_1" class="loading-circle-3"></div>
            <div id="example_7_circle_2" class="loading-circle-3"></div>
            <div id="example_7_circle_3" class="loading-circle-3"></div>
            <div id="example_7_circle_4" class="loading-circle-3"></div>
            <div id="example_7_circle_5" class="loading-circle-3"></div>
            <div id="example_7_circle_6" class="loading-circle-3"></div>
            <div id="example_7_circle_7" class="loading-circle-3"></div>
            <div id="example_7_circle_8" class="loading-circle-3"></div>
            <div id="example_7_circle_9" class="loading-circle-3"></div>
            <div id="example_7_circle_10" class="loading-circle-3"></div>
            <div id="example_7_circle_11" class="loading-circle-3"></div>
            <div id="example_7_circle_12" class="loading-circle-3"></div>

        </div>
    </div>

{% endblock %}