{% extends 'priceweb/loadingscreens.html' %}

{% block loader %}



 <div id="example_loader_5" class="loader-example example-5">
        <div class="animation-div" style="width:165px;">
            <div id="example_5_circle_1" class="loading-circle"></div>
            <div id="example_5_circle_2" class="loading-circle"></div>
            <div id="example_5_circle_3" class="loading-circle"></div>
            <div id="example_5_circle_4" class="loading-circle"></div>
            <div id="example_5_circle_5" class="loading-circle"></div>
            <div id="example_5_circle_6" class="loading-circle"></div>



        </div>
 </div>

{% endblock %}