celery==3.1.25
html5lib==0.999999999
six==1.10.0
mechanize==0.3.5
BeautifulSoup==3.2.1
beautifulsoup4==4.5.3
dj-database-url==0.4.1
bs4==0.0.1
Django==1.11.29
django-static-precompiler==1.5
djangorestframework==3.5.3
docker-py==1.7.2
dockerpty==0.4.1
gunicorn==19.6.0
lessc==0.1.2
requests==2.9.1


