{% extends 'priceweb/index.html' %}
{% load static %}

{% block content %}
     {% include "priceweb/top_nav.html"%}

    <div class="row" style="margin-top:15px;">
        <div class="col-xs-12 col-sm-5 col-md-7 col-lg-8">
            <div class="text-container-wrapper gradient5">
                <div class="wood-color-mid wood-font text-container">
                    <p>
                        Welcome to a site dedicated to showcasing my abilities in web design. This website is
                        a django app, created from scratch, and hosted on AWS. Having recently graduated, in addition to
                        a standard resume, I hope to use this site to demonstrate the principles I've learned over years
                        of learning in both classrooms and on the job.
                    </p>
                </div>
            </div>
            <div class="text-container-wrapper gradient5">
                <div class="text-container wood-color-mid wood-font">
                    The information and text for DORi came from a paper written by myself and my team members.
                    I also found these links to be very helpful in the development of DORi and this site, as well as
                    the nitty gritty code to the actual code which went into dori
                    <ul id="helpful_links" style="margin-top: 10px;">
                        <li><a href="http://shiffman.net/p5/kinect/" target="_blank">Shiffman's Kinect walkthrough</a></li>
                        <li><a href="https://www.pexels.com" target="_blank">Pexels free stock photos</a></li>
                        <li><a href="https://github.com/Price47/JackalopeCapstone" target="_blank">DORi's brains</a></li>
                    </ul>
                </div>
            </div>
        </div>

        <div class="col-xs-12 col-sm-7 col-md-5 col-lg-4">
            <div id="about_info" class="text-container-wrapper gradient5">
                <div id="about_links" class="text-style-descriptive wood-font wood-color-mid text-container"
                     style="text-align: center">
                    <img src="{% static "priceweb/author_picture.jpg" %}" alt="My image" height="250" width="250"/>
                    <h3> My email: </h3>
                    <p> Richardstoeffel47@gmail.com </p>
                    <h4> My github : </h4>
                    <a href="https://github.com/Price47" target="_blank">github.com/Price47</a>
                    <br>
                    <a href="https://github.com/Price47/PriceWeb/tree/master/priceweb" target="_blank">
                        (And here's the code for this website!)</a>
                </div>
            </div>
        </div>

    </div>

{% endblock %}
