{% extends 'priceweb/index.html' %}

{% load static %}

{% block content %}

<body onload="getTvData()" style="background: #1a1b1c!important;z-index:2500">

{#<div id="best_buy_loader" style="position: absolute;width:100%;#}
{#        height:100%;background: green;z-index:1500;top:0;left:0"></div>#}


<div id="top_3_percentage" style="width:50%; height:400px;position: relative;float: left;margin-bottom: 15px;"></div>
<div id="top_3_curved_percentage" style="width:50%; height:400px;position: relative;float: left;margin-bottom:15px;"></div>


<div id="tv_search_results" style="width:65%; height:400px;position: relative;float: left;margin-bottom: 15px;"></div>
<div style="width: 35%;height: 400px;position: relative;float: left;margin-bottom: 15px;">
    <div id="tv_search_results_percentage" style="width: 100%;height:200px;"></div>
    <div id="curved_tv_search_results_percentage" style="width: 100%;height:200px;"></div>
</div>
<div id="rate_search_trend" style="width:100%; height:400px;margin-bottom: 15px;position: relative;float:left"></div>
<div id="review_search_trend" style="width:100%; height:400px;margin-bottom: 15px;position: relative;float:left"></div>




</body>
{% endblock %}





