{% extends 'priceweb/index.html' %}
{% load static %}

{% block content %}
{% include "priceweb/top_nav.html"%}

<body>



<div class="row" style="margin-top:15px;">
    <div class="col-lg-4 col-md-3 col-sm-4 col-xs-12">
            <div>
                <img style="display: block;margin: auto" src={{ json.image_url }}>
            </div>
    </div>
    <div class="wood-font col-lg-8 col-md-9 col-sm-8 col-xs-12">

            <div class="row wood-color-mid" style="margin-bottom: 15px;">
                <div style="position: relative;float:left;margin:10px;">
                    <form action="brewer">
                        <input class='brew-query-button' type="submit" value="Random" style="display:block;margin:auto;margin-top: 60%;"><br>
                        <input id=beerquery_check type="checkbox" name="beerquery" value="search"> Query Search
                    </form>
                </div>
                <div id=beer_name_div style="position: relative;float:left;display: none;">
                    <form id=brew_query action="brewer">
                        Beer name:<br>
                        <input type="text" name="firstname" value="">
                        <br>
                    </form>
                </div>
                <div id=beer_abv_div style="position: relative;float:left;display: none;">
                    <span id="abv_value"> 8 </span>
                    <form id=brew_query action="brewer">
                        <input id=abv type="range" min="0" max="15">
                    </form>
                </div>
                <div id=beer_query_div style="position: relative;float:left;display:none">
                    <form id=brew_query action="brewer">
                        <input id=name_query_check type="checkbox" name="name"> Name <br>
                        <input id=abv_query_check type="checkbox" name="abv"> ABV <br>
                        <input class='brew-query-button' type="submit">
                        <input class='brew-query-button' type="reset">
                    </form>
                </div>
            </div>
            <div class="row wood-color-mid">
                <h1> {{ json.name }} ({{ json.first_brewed }}) </h1>
                <h2> {{ json.tagline }} </h2>
                <p> {{ json.description }} </p>
            </div>

            <div class="row">
                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                        Specs and shit
                        <table class="brew-table table-striped ">
                                <tr>
                                    <th> Volume </th>
                                    <th> {{ json.volume.value }} {{ json.volume.unit }} </th>
                                </tr>
                                <tr>
                                    <th> ABV </th>
                                    <th> {{ json.abv }} </th>
                                </tr>
                                <tr>
                                    <th> IBU </th>
                                    <th> {{ json.ibu }} </th>
                                </tr>
                                <tr>
                                    <th> ebc </th>
                                    <th> {{ json.ebc }} </th>
                                </tr>
                                <tr>
                                    <th> srm</th>
                                    <th> {{ json.srm }} </th>
                                </tr>
                                <tr>
                                    <th> PH</th>
                                    <th> {{ json.ph }} </th>
                                </tr>
                                <tr>
                                    <th> Atennuation Level</th>
                                    <th> {{ json.attenuation_level }} </th>
                                </tr>
                        </table>
                    </div>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-6">
                    Malt Ingredients
                    <table class="brew-table table-striped">
                        <tr>
                            <th> Name </th>
                            <th> Amount </th>
                        </tr>
                    {%  for item in ingredients.malt %}
                        <tr>
                            <th> {{ item.name }} </th>
                            <th> {{ item.amount.value }} {{ item.amount.unit }} </th>
                        </tr>
                    {%  endfor %}
                    </table>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-6">
                    Hops
                    <table class="brew-table table-striped">
                        <tr>
                            <th> Name </th>
                            <th> Amount </th>
                            <th> Attribute </th>
                            <th> Add At </th>
                        </tr>
                    {%  for item in ingredients.hops %}
                        <tr>
                            <th> {{ item.name }} </th>
                            <th> {{ item.amount.value }} {{ item.amount.unit }} </th>
                            <th> {{ item.attribute }} </th>
                            <th> {{ item.add }} </th>
                        </tr>
                    {%  endfor %}
                    </table>
                </div>

                <div class="row">
                    Yeast
                    <div class="wood-font wood-color-mid">
                        {{ ingredients.yeast }}
                    </div>


                    <div class="wood-color-mid wood-font">
                        {{ json.brewers_tips }}
                        {{ json.food_pairing }}
                        {{ json.contributed_by }}
                    </div>

                    <div>
                            {{ temps.mash }}
                            {{ temps.fermentation }}
                    </div>

                    <div class="wood-color-mid wood-font">
                        {{ json.method.twist }}
                    </div>
                </div>
    </div>

</div>
</body>

{% endblock %}