{% extends 'priceweb/index.html' %}
{% load static %}
{% block content %}
{% include "priceweb/top_nav.html"%}

<body>



<div class="row" style="margin-top:15px;">
    <div class="col-lg-4 col-md-3 col-sm-4 col-xs-12">
            <div>
                <img style="display: block;margin: auto" src={{ json.image_url }}>
            </div>
    </div>
    <div class="wood-font col-lg-8 col-md-9 col-sm-8 col-xs-12">
            <form action="brewer">
                <div class="row wood-color-mid" style="margin-bottom: 15px;">{# Query Div #}
                <div style="position: relative;float:left;margin:10px;">
                    <fieldset id="query_form">
                        <input id=brew_submit class='brew-query-button' type="submit" value="Random"><br>
                        <input id=beerquery_check type="checkbox" name=query_search value="on"> Query Search
                    </fieldset>
                </div>
                <div id=beer_query_div class="query-subdiv">
                    <form id=brew_query action="brewer">
                        <input id=name_query_check name="name_query" value="on" type="checkbox"> Name <br>
                        <input id=abv_query_check name="abv_query" value="on" type="checkbox"> ABV <br>
                    </form>
                </div>
                <div id=beer_name_div class="query-subdiv">
                    <fieldset id=name_query>
                        Beer name:<br>
                        <input type="text" name="beer_name" value="" style="color:black">
                        <br>
                    </fieldset>
                </div>
                <div id=beer_abv_div class="query-subdiv">

                    <fieldset id=abv_query>
                        <input type="radio" name="abv_range_above" value="greater" checked> Greater Than
                        <br> <input type="radio" name="abv_range_above" value="less"> Less Than
                        <input id=abv type="range" name="abv_range" min="5" max="25">
                    </fieldset>
                    ABV: <span id="abv_value"> 15 </span>
                </div>
            </div>
            </form>
            <div class="row wood-color-mid brew-banner">
                <h1> {{ json.name }} ({{ json.first_brewed }}) </h1>
                <h2> {{ json.tagline }} </h2>
                <p> {{ json.description }} </p>
            </div>
            <div class="row"> {# Brew content #}
                    <div class="wood-font wood-color-mid">
                        <h3>Yeast</h3>
                        {{ ingredients.yeast }}
                    </div>


                    <div class="wood-color-mid wood-font brew-content">
                        <h3> Brewers Tips:</h3>
                        {{ json.brewers_tips }} <br>
                        <h4> Food Pairing:</h4>
                        {% for food in json.food_pairing %}
                             {{ food }} <br>
                        {% endfor %}
                        <hr>
                        Contributed by {{ json.contributed_by }} <br>
                    </div>

                    <div class="wood-color-mid wood-font brew-content">
                        <h3> Brewing Temps:</h3>
                            Mash temperature: {{ temps.mash }} <br>
                            Fermentation temperature: {{ temps.fermentation }} <br>
                    </div>

                    <div class="wood-color-mid wood-font brew-content">
                        <h3> Brewers Twists:</h3>
                        {{ twist }}
                    </div>
                </div>
            <div class="row"> {# Brew Specs #}
                <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                        <table class="brew-table table-striped">
                                <tr>
                                    <th> Volume </th>
                                    <th> {{ json.volume.value }} {{ json.volume.unit }} </th>
                                </tr>
                                <tr>
                                    <th> ABV </th>
                                    <th> {{ json.abv }} </th>
                                </tr>
                                <tr>
                                    <th> IBU </th>
                                    <th> {{ json.ibu }} </th>
                                </tr>
                                <tr>
                                    <th> ebc </th>
                                    <th> {{ json.ebc }} </th>
                                </tr>
                                <tr>
                                    <th> srm</th>
                                    <th> {{ json.srm }} </th>
                                </tr>
                                <tr>
                                    <th> PH</th>
                                    <th> {{ json.ph }} </th>
                                </tr>
                                <tr>
                                    <th> Atennuation Level</th>
                                    <th> {{ json.attenuation_level }} </th>
                                </tr>
                                <caption class="wood-color-mid wood-font">Beer Specs</caption>
                        </table>
                </div>
                <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                        <table class="brew-table table-striped">
                        <tr>
                            <th> Name </th>
                            <th> Amount </th>
                        </tr>
                    {%  for item in ingredients.malt %}
                        <tr>
                            <th> {{ item.name }} </th>
                            <th> {{ item.amount.value }} {{ item.amount.unit }} </th>
                        </tr>
                    {%  endfor %}
                        <caption class="wood-color-mid wood-font">Malt Ingredients</caption>
                    </table>
                    </div>
                <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                    <table class="brew-table table-striped">
                        <tr>
                            <th> Name </th>
                            <th> Amount </th>
                            <th> Attribute </th>
                            <th> Add At </th>
                        </tr>
                    {%  for item in ingredients.hops %}
                        <tr>
                            <th> {{ item.name }} </th>
                            <th> {{ item.amount.value }} {{ item.amount.unit }} </th>
                            <th> {{ item.attribute }} </th>
                            <th> {{ item.add }} </th>
                        </tr>
                    {%  endfor %}
                        <caption class="wood-color-mid wood-font">Hops</caption>
                    </table>
                </div>
            </div>
    </div>

</div>
</body>

{% endblock %}