<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Crypto Ticker</title>
    <script src="//cdnjs.cloudflare.com/ajax/libs/less.js/2.7.2/less.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.0/jquery.min.js"></script>
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <script src="https://d3js.org/d3.v4.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
          integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
            integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
            crossorigin="anonymous"></script>
    {% load static %}
    <script src="{% static 'javascript/crypto.js' %}"></script>


</head>
<style>
    .ticker-info-box{
        background: #1a1b1c;
        padding: 10px;
        text-align: center;
        border-radius: 5px;
        margin-bottom: 15px;
    }
</style>
<body style="background: #1a1b1c;z-index:2000">

<div id="crypto_header" style="color:white"></div>

    {%  for coin in coins %}
        <div style="background: black;position:relative;padding:10px;width:30%;
        margin-left:1%;margin-top:15px; float:left;border-radius: 10px;border:1px solid {{ coin.color }}">
            <div style="color:{{ coin.color }}">
                <div style="color: white" class="ticker-info-box">
                    <strong>{{ coin.name }}</strong><br>
                </div>
                <div class="ticker-info-box">
                    ${{ coin.price }}
                </div>
                <div class="ticker-info-box">
                    ${{ coin.delta }} <span class="{{ coin.glyph }}"></span>
                </div>
                <div>
                    <div class="ticker-info-box" style="width: 45%;float:left;position: relative;margin-right:10% ">
                        <div style="color:white">
                            High <br>
                        </div>
                        ${{ coin.high }}
                    </div>
                    <div class="ticker-info-box" style="width: 45%;float:left;position: relative">
                        <div style="color:white">
                            Low <br>
                        </div>
                        ${{ coin.low }}
                    </div>
                </div>

            </div>
        </div>
    {% endfor %}

</body>
</html>