<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Crypto Ticker</title>
    <script src="//cdnjs.cloudflare.com/ajax/libs/less.js/2.7.2/less.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.0/jquery.min.js"></script>
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <script src="https://d3js.org/d3.v4.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
          integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
            integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
            crossorigin="anonymous"></script>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'priceweb/styles.css' %}" />
    <script src="{% static 'javascript/crypto.js' %}"></script>

<style>
    .ticker-info-box{
    background: black;
    position:relative;
    padding:10px;
    margin-left:1%;
    margin-top:15px;
    float:left;border-radius: 10px;
}
</style>
</head>
<body style="background: #1a1b1c;z-index:2000">

    {%  for coin in coins %}
    <div style="background: black;position:relative;padding:10px;
    margin-left:1%;margin-top:15px; float:left;border-radius: 10px;border:1px solid {{ coin.color }}">
        <div style="color:{{ coin.color }}">
            <div style="color: white">
                <strong>{{ coin.name }}</strong>
            </div>
            <div >
                ${{ coin.price }}
            </div>
        </div>
    </div>
    {% endfor %}

    <div id="carousel-crypto" class="carousel slide" data-ride="carousel" style="margin-top: 20px">
                <!-- Menu -->
                <ol class="carousel-indicators home-carousel-indicators">
                    {% for coin in coins %}
                        {% if coin.carousel_id == 0 %}
                        <li data-target="#carousel-crypto" data-slide-to="0" class="active"></li>
                        {% else %}
                        <li data-target="#carousel-crypto" data-slide-to="{{  coin.carousel_id }}"></li>
                        {% endif %}
                    {% endfor %}
                </ol>

                <!-- Items -->
                <div class="carousel-inner" style="height: 600px">
                    {% for coin in coins %}
                    {% if coin.carousel_id == 0 %}
                    <div class="item active">
                            <div style="background: black;position:relative;padding:10px;
                            margin-left:1%;margin-top:15px; float:left;border-radius: 10px;
                            border:1px solid {{ coin.color }}">
                                <div style="color:{{ coin.color }}">
                                    <div style="color: white" class="ticker-info-box">
                                        <strong>{{ coin.name }}</strong><br>
                                    </div>
                                    <div class="ticker-info-box">
                                        ${{ coin.price }}
                                    </div>
                                    <div class="ticker-info-box">
                                        ${{ coin.delta }} <span class="{{ coin.glyph }}"></span>
                                    </div>
                                    <div>
                                        <div class="ticker-info-box" style="width: 45%;float:left;position: relative;margin-right:10% ">
                                            <div style="color:white">
                                                High <br>
                                            </div>
                                            ${{ coin.high }}
                                        </div>
                                        <div class="ticker-info-box" style="width: 45%;float:left;position: relative">
                                            <div style="color:white">
                                                Low <br>
                                            </div>
                                            ${{ coin.low }}
                                        </div>
                                    </div>

                                </div>
                            </div>
                    </div>
                    {% else %}
                    <div class="item">
                            <div style="background: black;position:relative;padding:10px;
                            margin-left:1%;margin-top:15px; float:left;border-radius: 10px;
                            border:1px solid {{ coin.color }}">
                                <div style="color:{{ coin.color }}">
                                    <div style="color: white" class="ticker-info-box">
                                        <strong>{{ coin.name }}</strong><br>
                                    </div>
                                    <div class="ticker-info-box">
                                        ${{ coin.price }}
                                    </div>
                                    <div class="ticker-info-box">
                                        ${{ coin.delta }} <span class="{{ coin.glyph }}"></span>
                                    </div>
                                    <div>
                                        <div class="ticker-info-box" style="width: 45%;float:left;position: relative;margin-right:10% ">
                                            <div style="color:white">
                                                High <br>
                                            </div>
                                            ${{ coin.high }}
                                        </div>
                                        <div class="ticker-info-box" style="width: 45%;float:left;position: relative">
                                            <div style="color:white">
                                                Low <br>
                                            </div>
                                            ${{ coin.low }}
                                        </div>
                                    </div>

                                </div>
                            </div>
                    </div>
                    {% endif %}
                    {% endfor %}
                </div>
                <a href="#carousel-crypto" class="left carousel-control" data-slide="prev">
                    <span class="glyphicon glyphicon-chevron-left"></span>
                </a>
                <a href="#carousel-crypto" class="right carousel-control" data-slide="next">
                    <span class="glyphicon glyphicon-chevron-right"></span>
                </a>
            </div>
</body>
</html>