{% extends 'priceweb/index.html' %}

{% load static %}

{% block content %}

    <div class="row">
        <div class="loader wood-color-dark">
            <div style="position:relative;margin:auto;top:30%">
                <img src="{% static "priceweb/47.png" %}" alt="My image" height="256" width="408" class="center-image"/>
            </div>
        </div>

        <div class="text-container-wrapper gradient1">
            <div class="text-container wood-color-mid wood-font">
                <h1>DORi Development</h1>
            </div>
        </div>
    </div>
    <div class="gradient1" style="padding: 2px;border-top-right-radius: 5px;border-top-left-radius: 5px;margin:25px;">
        <div style="margin-right:15px;margin-left:15px;">
        <div class="row">
            <div id=dori_overview class="col-xs-4 col-sm-4 col-md-4 col-lg-4 wood-color-mid content-header wood-font">
                Abstract
            </div>
            <div id=dori_development class="col-xs-4 col-sm-4 col-md-4 col-lg-4 wood-color-mid content-header wood-font"
                style="border-right: 1px solid white;border-left: 1px solid white">
                Kinect & Python
            </div>
            <div id=dori_results class="col-xs-4 col-sm-4 col-md-4 col-lg-4 wood-color-mid content-header wood-font"
                style="border-right:none!important">
                Results
            </div>
        </div>
        <div class="row">
            <div id=dori_overview_content class="col-xs-12 col-sm-12 col-md-12 col-lg-12 wood-font dori-content">
                <iframe id=abstract_frame src="{% static 'priceweb/textbody/dori_abstract.html' %}" frameborder="0"
                        style="height:250px;width:100%"></iframe>
                <div class="dori-button-container">
                    <button id="abstract_close" class="dori-button"
                            style="border-top-right-radius: 0;border-bottom-right-radius: 0;border-right:1px solid white">
                        close
                    </button>
                    <button id="abstract_max" class="dori-button"
                            style="border-top-left-radius: 0;border-bottom-left-radius: 0; border-left:1px solid white">
                        resize
                    </button>
                </div>
            </div>
            <div id=dori_development_content class="col-xs-12 col-sm-12 col-md-12 col-lg-12 wood-font dori-content">
                <iframe id=dev_frame src="{% static 'priceweb/textbody/dori_dev.html' %}" frameborder="0"
                        style="height:250px;width:100%"></iframe>
                <div class="dori-button-container">
                    <button id="development_close" class="dori-button"
                            style="border-top-right-radius: 0;border-bottom-right-radius: 0;border-right:1px solid white">
                        close
                    </button>
                    <button id="development_max" class="dori-button"
                            style="border-top-left-radius: 0;border-bottom-left-radius: 0; border-left:1px solid white">
                        resize
                    </button>
                </div>
            </div>
            <div id=dori_results_content class="col-xs-12 col-sm-12 col-md-12 col-lg-12 wood-font dori-content">
                <iframe id=result_frame src="{% static 'priceweb/textbody/dori_results.html' %}" frameborder="0"
                        style="height:250px;width:100%"></iframe>
                <div class="dori-button-container">
                    <button id="results_close" class="dori-button"
                            style="border-top-right-radius: 0;border-bottom-right-radius: 0;border-right:1px solid white">
                        close
                    </button>
                    <button id="results_max" class="dori-button"
                            style="border-top-left-radius: 0;border-bottom-left-radius: 0; border-left:1px solid white">
                        resize
                    </button>
                </div>
                <div class="row">
                    <div id="kinect_view" class="col-xs-12 col-sm-12 col-md-12 col-lg-12 content-header">
                        Kinect's depth cloud view
                    </div>
                    <div id="kinect_view_content" class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                            <img src="{% static "priceweb/KinectView.png" %}" alt="My image" height="739" width="1000"/>
                    </div>
                </div>
                <div class="row">
                    <div id=dori_video class="col-xs-12 col-sm-12 col-md-12 col-lg-12 content-header">
                        DORi in action
                    </div>
                    <div class="container-fluid">
                        <div id=dori_video_content class="col-xs-12 col-sm-12 col-md-12 col-lg-12" style="margin-top: 10px;">
                            <iframe id=dori_video_frame width="560" height="315" src="https://www.youtube.com/embed/oERQ4XCdLgU"
                                    allowfullscreen></iframe>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>

{% endblock %}

