{% extends 'priceweb/index.html' %}

{% load static %}

{% block content %}

    <div id="sidenav" class="sidenav text-style-descriptive">
    <ul>
        <li id="about_link"><a href="about">link1</a></li>
        <li id="dori_link"><a href="dori">link2</a></li>
        <li><a>link3</a></li>
        <li><a>link4</a></li>
        <li><a>link5</a></li>
        <li><a>link6</a></li>
    </ul>
</div>

    <img src="{% static "priceweb/KinectView.png" %}" alt="My image" height="241" width="326"/>

    <iframe width="560" height="315" src="https://www.youtube.com/embed/oERQ4XCdLgU"
            allowfullscreen></iframe>
{% endblock %}

