{% extends 'priceweb/index.html' %}
{% load static %}

{% block content %}
<body style="">
{#    <div class="loader wood-color-dark">#}
{#        <div style="position:relative;margin:auto">#}
{#            <img src="{% static "priceweb/47.png" %}" alt="My image" height="256" width="408" class="center-image"/>#}
{#        </div>#}
{#    </div>#}

   {% include 'priceweb/link_carousel.html' %}
    <div style="margin:-30px -15px 0">
        <div style="width:100%;height:600px;margin-top:-30px;" class="gradient1 home-div"></div>
        <div style="width:100%;height:600px" class="gradient2 home-div"></div>
        <div style="width:100%;height:600px" class="gradient3 home-div"></div>
        <div style="width:100%;height:600px" class="gradient4 home-div"></div>
    </div>



{% endblock %}
