<div id=home_link_open style="position:fixed;left:0;width:25px;height:370px;margin-top:5px;" class="wood-color-mid wood-font">
        <span id=home_link_glyph style="line-height: 370px;vertical-align: center" class="glyphicon glyphicon-chevron-right"></span>
    </div>

<div id=home_links_container style="display: none;position: fixed;width:100%">
    <div class="row" style="background-color: #1a1b1c;padding:10px;margin:5px;">
        <div class="col-lg-2 col-md-2 col-sm-2 text-style-descriptive wood-font" >
            <div id="carousel-slide-caption" class="text-style-descriptive"></div>
        </div>

        <div class="col-lg-10 col-md-10 col-sm-10">
            <div id="carousel" class="carousel slide" data-ride="carousel">
                <!-- Menu -->
                <ol class="carousel-indicators home-carousel-indicators">
                    <li data-target="#carousel" data-slide-to="0" class="active"></li>
                    <li data-target="#carousel" data-slide-to="1"></li>
                    <li data-target="#carousel" data-slide-to="2"></li>
                    <li data-target="#carousel" data-slide-to="3"></li>
                </ol>

                <!-- Items -->
                <div class="carousel-inner">
                    <div class="item active">
                        <a href="loadingscreens/1" id="loadscreen_button" class="loadscreen-button">
                            <div style="width:100%;height:100%;margin-bottom:20px;" class="gradient1">
                                <h1 style="text-align:center;vertical-align: middle;line-height: 300px;color:white">Loading Screens</h1>
                            </div>
                        </a>
                            <div class="carousel-caption">
                                <h3>Loading Screens</h3>
                                <p> A series of loading screens created using html and css</p>
                          </div>
                    </div>
                    <div class="item">
                         <a href="brewer" id="brewer_button" class="brewer-button">
                            <div style="width:100%;height:100%;margin-bottom:20px;" class="gradient2">
                                    <h1 style="text-align:center;vertical-align: middle;line-height: 300px;color:white">Brewery</h1>
                            </div>
                         </a>
                            <div class="carousel-caption">
                                <h3>Brewer</h3>
                                <p>Like Brewing Beer? Looking for a new recipe? Try these!</p>
                          </div>
                    </div>
                    <div class="item">
                         <a href="dori" id="dori_button" class="dori-link-button">
                            <div style="width:100%;height:100%;margin-bottom:20px;" class="gradient3">
                                <h1 style="text-align:center;vertical-align: middle;line-height: 300px;color:white;">DORi</h1>
                            </div>
                         </a>
                            <div class="carousel-caption">
                                <h3>DORI</h3>
                                <p>Learn more about this autonomous robot</p>
                          </div>
                    </div>
                    <div class="item">
                         <a href="about" id="about_button" class="about-button">
                            <div style="width:100%;height:100%;margin-bottom:20px;" class="gradient4">
                                    <h1 style="text-align:center;vertical-align: middle;line-height: 300px;color:white">About</h1>
                            </div>
                         </a>
                            <div class="carousel-caption">
                                <h3>About</h3>
                                <p>Learn more about this site, it's author, and it's contributors.</p>
                          </div>
                    </div>
                </div>
                <a href="#carousel" class="left carousel-control" data-slide="prev">
                    <span class="glyphicon glyphicon-chevron-left"></span>
                </a>
                <a href="#carousel" class="right carousel-control" data-slide="next">
                    <span class="glyphicon glyphicon-chevron-right"></span>
                </a>
            </div>
        </div>
    </div>
</div>