<div id="menu_wrapper" style="margin-top:-30px;">
    <div class="row">
        <div id=top_nav_links class="top-nav">
                    <a href="loadingscreens/1">
                        <div id=top_nav_loading class="top-nav-item">
                            Splash Screens
                        </div>
                    </a>
                    <a href="brewer">
                        <div id=top_nav_brewer class="top-nav-item">
                            Brewer
                        </div>
                    </a>
                    <a href="dori">
                        <div id=top_nav_dori class="top-nav-item">
                            DORi
                        </div>
                    </a>
                    <a href="about">
                        <div id=top_nav_about class="top-nav-item">
                            About
                        </div>
                    </a>
        </div>
    </div>

    <div class="row">
        <div id="menu_button" style="background: black;text-align:center;">
            <span id=menu_button_down class="glyphicon glyphicon-chevron-down" style="color: white;font-size:20px;"></span>
            <span id=menu_button_up class="glyphicon glyphicon-chevron-up" style="color: white;font-size:20px;display: none"></span>
        </div>
    </div>
</div>