body{
    margin-top:135px !important;
    background-image: url("wood-back.jpeg");;
}

.loader{
    position: absolute;
    display: block;
    top:0;
    left:0;
    width:100%;
    height:100%;
    z-index: 1000;
}


.wood-color-light{
    background-color: white;
}

.wood-font{
    color:white;
}

.wood-color-dark{
    background-color: black;
}

.wood-color-mid{
    background-color: #1a1b1c;
}

.text-container-wrapper{
    padding: 2px;
    margin:15px;
    position: relative;
    border-radius: 10px;
}

.text-container{
    padding:15px;
    border-width:2px;
    border-color:#010101;
    border-style: outset;
    border-radius:10px;
}

/* Header Styles */

#header_container{
    top: 0;
    left:0;
    margin-top:-250px;
    position: fixed;
    width:100%;
    height:355px;
    z-index:9;
}

.headernav{
    top:0;
    left:0;
    margin-top: -250px;
    position: fixed;
    height:350px;
    width:100%;
    z-index: 10;
}

/* Home Style */

#home-logo{
    top:0;
    left:0;
    position:fixed;
    width:100px;
    height:100px;
    float:left;
}

.home-logo > a{
    margin-top: 12px;
    display: block;

}

#title_main{
    margin-top:275px;
    float:right;
    margin-right: 15px;
    z-index: 50;
}

.center-image{
    display: block;
    margin:auto;
}

.home-glyph{
    font-size: 35vmin;
    color:gainsboro;

}

.home-glyph:hover{
    color:white;
}

.home-glyph-link{
    line-height: 600px;
    vertical-align: center;
}

.home-glyph-left{
    left:10%
}


.home-glyph-right{
    line-height: 600px;
    vertical-align: center;
    right:10%
}

.home-content{
    width:100%;
    height:600px;
}

.home-break{
    width:100%;
    height:150px;
    background: black;
}

.home-link{
    text-align: center;
    top:45px;
}

.home-text {
    text-align: center;
    color: white;
    top:200px;
}

/* link carousel style */

#home_link_open{
    position:fixed;
    left:0;
    width:100px;
    height: 100px;
    bottom:0;
    z-index:10;
    opacity:.5;
}

#home_link_open:hover{
    opacity:1;
}

/* Text Styles */

.text-style-descriptive{
    font-family: Baskerville;
    font-size: 16px;
    text-align: left;
    color:white;
}

.text-style-creative{

}

/* Dori */

.content-header{
    padding: 15px;
    position:relative;


}

.dori-content{
    background-color: #252525;
    padding:5px;

}

.content-header:hover {
    background-color: white;
    color: #1a1b1c;
}

#dori_overview{
    border-top-left-radius: 5px;
}

#dori_results{
    border-top-right-radius: 5px;
}

.content{

}

#dori_video_frame{
    width:100%;
    height:65vh;
}

#kinect_view_content img{
    max-width:100%;
    width:auto;
    height:auto\9;
}

button {
    margin: auto;
}

.dori-button{
    background: #1a1b1c;
    position:relative;
    float:left;
    border:none;
    margin:0;
    border-radius:5px;
    padding: 10px 20px 10px 20px;
    width:50%;
}

.dori-button-container button:hover{
    background: white;
    color:black;
}

/* About Page */

#about_info p{
    text-align: center;
}

#about_info{
    text-align: center;
}

#about_info img{
    display:block;
    margin:auto;
}

#about_links a:link, a:visited {
    color:white;
}

#about_links a:hover{
    color:#ff3f3f;
    text-decoration:none;
}

#helpful_links li a:link, a:visited{
    color:white;
}

#helpful_links li a:hover{
    color:#ff3f3f;
    text-decoration:none;
}


/* Top Nav */

.top-nav{
    width:100%;
    height:30px;
    background: #1a1b1c;
    position:absolute;
    margin-top: -30px;
}

.top-nav-item{
    width:25%;
    height:100%;
    position: relative;
    float:left;
    text-align: center;
    color:white;

}

.top-nav-links{
    top:0;
    position:absolute;
}

/* Home Page Carousel Styles */


.carousel-caption{
    display: none;
}

ol.home-carousel-indicators {
  position: absolute;
  bottom: 0;
  margin: 0;
  left: 0;
  right: 0;
  width: auto;
}

ol.home-carousel-indicators li,
ol.home-carousel-indicators li.active {
  float: left;
  width: 25%;
  height: 5px;
  margin: 0;
  border-radius: 0;
  border: 0;
  background: transparent;
}

ol.home-carousel-indicators li:hover{
    background: lightgrey;
}

ol.home-carousel-indicators li.active {
  background: white;;
}

.item a:hover{
    text-decoration: none;
}



/* Brewer page */

.table-striped>tbody>tr:nth-child(odd)>td,
.table-striped>tbody>tr:nth-child(odd)>th {
   background-color: #1a1b1c; // Choose your own color here
 }

.brew-table{
    background-color: black;
    color: white;

}

.brew-table{
    margin-top:10px;
}


.brew-table th{
    height:35px;
}

.brew-table tr{
    padding: 10px;
    border: 1px solid black;
}

.brew-table tr th{
    padding:10px;
}

.brew-table caption{
    padding:10px;
    font-weight: bold;
    background: #454545;
}

.brew-banner{
    margin: 10px 0 10px 0;
    padding:10px;
}

.brew-content{
    margin:15px;
    padding:10px;
    -webkit-border-radius:5px;
    -moz-border-radius:5px;
    border-radius:5px;
}

.brew-content h3{
    margin-top:0;
}

.brew-query-button{
    color:white;
    background: black;
    border:none;
    -webkit-border-radius:4px;
    -moz-border-radius:4px;
    border-radius:4px;
}

#brew_submit{
    display:block;
    margin:auto;
    margin-top: 50%;
}

.query-subdiv{
    position: relative;
    float:left;
    display: none;
    margin-top:5%;
    margin-left:10px;
}

.brew-table-title{
    transform: rotate(90deg);

}

/* gradients */

.gradient1{
background: #ff4444; /* For browsers that do not support gradients */
  background: -webkit-linear-gradient(left, #ff4444 , #ecfc41); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(right, #ff4444, #ecfc41); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(right, #ff4444, #ecfc41); /* For Firefox 3.6 to 15 */
  background: linear-gradient(to right, #ff4444 , #ecfc41); /* Standard syntax */
}

.gradient2{
background: #ecfc41; /* For browsers that do not support gradients */
  background: -webkit-linear-gradient(left, #ecfc41 , #23dbfc); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(right, #ecfc41, #23dbfc); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(right, #ecfc41, #23dbfc); /* For Firefox 3.6 to 15 */
  background: linear-gradient(to right, #ecfc41 , #23dbfc); /* Standard syntax */
}

.gradient3{
background: #23dbfc; /* For browsers that do not support gradients  45e043  23dbfc*/
  background: -webkit-linear-gradient(left, #23dbfc , #be00db); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(right, #23dbfc, #be00db); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(right, #23dbfc, #be00db); /* For Firefox 3.6 to 15 */
  background: linear-gradient(to right, #23dbfc , #be00db); /* Standard syntax */
}

.gradient4{
background: #be00db; /* For browsers that do not support gradients */
  background: -webkit-linear-gradient(left, #be00db , #ff4444); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(right, #be00db, #ff4444); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(right, #be00db, #ff4444); /* For Firefox 3.6 to 15 */
  background: linear-gradient(to right, #be00db , #ff4444); /* Standard syntax */
}



